<html>
    <head></head>
    <body>
        <style>
            .login-box {
                text-align: center;
                max-width: 500px;
                margin: 10px auto;
                border: 1px solid #000;
                border-radius: 8px;
            }

            .login-box input, .login-box button {
                display: block;
                width: 100%;
                margin-bottom: 15px;
            }

            .error {
                background: red;
                color: white;
                padding: 8px;
                font-weight: bold;
            }
        </style>
        <div class="login-box">
            <% if (error) { %>
                <script>alert('<%- error %>')</script>
            <% } %>
            <form method="POST" action="/login">
                <h1>Login</h1>
                <div>
                    <label for="login">Login</label>
                    <input id="login" name="login">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password">
                </div>
                <div>
                    <input type="submit" value="SIGN IN">
                </div>
            </form>
            <div>
                <a href="/register">Do not have an account? Sign up for free!</a>
            </div>
        </div>
    </body>
</html>