<html>

<head></head>

<body>
    <style>
        .comment {
            padding: 15px;
            border-radius: 10px;
            border: 1px solid #000;
            margin-bottom: 10px;
        }

        .comment .content {
            font-size: 14px;
        }

        .comment .author {
            text-align: right;
            font-weight: bold;
        }

        form {
            padding: 15px;
            border-radius: 10px;
            border: 1px solid #000;
        }
    </style>
    <h1>This is my fancy website. Please leave a comment below!</h1>
    <div style="margin: 10px 0;">
        <a href="/logout">Logout</a>
    </div>
    <div class="comments">
        <% for (var i=0; i < comments.length; i++) { %>
        <div class="comment">
            <div class="content"><%- comments[i].content %></div>
            <div class="author"><%- comments[i].author %></div>
        </div>
        <% } %>
        <form method="POST" action="/comment">
            <textarea style="width: 100%" id="content" name="content" placeholder="Type your comment here" required rows="8"></textarea>
            <br>
            <label>Author:</label><b id="username"><%- author %></b><br>
            <button type="submit">ADD COMMENT</button>
        </form>
    </div>
</body>

</html>