<html>
    <head></head>
    <body>
        <style>
            .login-box {
                text-align: center;
                max-width: 500px;
                margin: 10px auto;
                border: 1px solid #000;
                border-radius: 8px;
            }

            .login-box input, .login-box button {
                display: block;
                width: 100%;
                margin-bottom: 15px;
            }
        </style>
        <div class="login-box">
            <% if (message) { %>
                <script>alert('<%- message %>')</script>
            <% } %>
            <form method="POST" action="/register">
                <h1>Registration</h1>
                <div>
                    <label for="login">Login</label>
                    <input id="login" name="login">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input minlength="5" id="password" name="password" type="password">
                </div>
                <div>
                    <button type="submit">CREATE ACCOUNT</button>
                </div>
            </form>
        </div>
        <script>
            if (window.location.search.includes('success=true')) {
                alert('Your account have been created! You can log in now.');
                window.location.href = '/login';
            }
        </script>
    </body>
</html>